<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include components/navbar.ejs %>
    <div class="jumbotron">
      <h1 class="display-3">Welcome to <%= title %></h1>
      <p class="lead">Fluxblog is a public api to make your own blog using Flux Method.</p>
      <hr class="my-4">
      <p>It uses a lots of cluster to manage your thread, you just need to display them!.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>
  </body>
</html>
