<!DOCTYPE html>
<html>
<head>
    <title>Discord Profiling</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= data.username %></h1>
<p>Welcome, <%= data.username %></p>
</body>
</html>
